*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E3FDFF;
    margin: 0;
}

header{
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

#Title-text{
    margin-top:2%;
}

#Title-text h1{
    font-size: 45px;
    margin-bottom: 10px;
}

#Title-text p{
    color: #616161;
}

#img-container{
    width: 20%;
}

#logo-img {
    width: 60%;
}

#Nav-Top-Bar{
    background-color: #4f6f8c;
    padding: 10px;
    margin-bottom: 20px;
}

#nav-bar ul li{
    color: white;
    display: inline-flex;
    margin-left: 10% ;
}

#nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#nav-bar ul li a:hover{
    color: rgb(214, 214, 214);
}

#Display-aligner{
    display: flex;
    justify-content: space-between;
}

#Center-page{
    margin-left:5%;
    width: 60%;
}

#Complaint{
    background-color: #7A9AB8;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    margin-bottom: 10%;
    border-radius: 15px; 
}

#Complaint-title{
    background-color: #4f6f8c;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Complaint-title h2{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 40px;
}

#Grid-form{
    display: grid;
    grid-template-columns: repeat(2,55%);
    margin: 10px auto;
    column-gap: 20%;
    width: fit-content;
    justify-content: space-around;
}

.Complaint-label{
    color: #fff;
    font-size: 25px;
    margin: 5px 0px;
}

#Type-selector{
    background-color: #6B8EAF;
    border: 2px solid #4F6F8C;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 3px;
    height: 40px;
}

#Type-selector:hover{
    cursor: pointer;
}

.input-bar{
    background-color: #6B8EAF;
    border: 2px solid #4F6F8C;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    
}

.input-bar:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#Complaint-foto{
    width: 314px;
}

#Foto{
    font-size: 15px;
}

#Complaint-form-4{
    width: 63%;
    margin: 0 auto;
}

#Complaint-description{
    background-color: #6B8EAF;
    border: 2px solid #4F6F8C;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    padding: 5px;
    resize: none;
    width: 100%;
}

#Complaint-description:focus{
    outline: none;
}

#Send-complaint{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#Complaint-submit-btn{
    height: 40px;
    border-radius: 7px;
    border:none;
    background-color: #FFD363;
    font-size: 17px;
    margin: 20px;
    font-size: 20px;
    width: 300px;
}

#Complaint-submit-btn:hover{
    cursor: pointer;
    background-color: #d1ad52;
}

#Complaint-return{
    height: 40px;
    border-radius: 7px;
    border:none;
    background-color: #c4c4c4;
    font-size: 17px;
    margin: 20px;
    font-size: 20px;
    width: 300px;
}

#Complaint-return:hover{
    cursor: pointer;
    background-color: #8f8f8f;
}

#Right-side-align{
    margin-right: 5%;
    width: 15%;
}

#Login{
    width: 100%;
    background-color: #7A9AB8;
    border-radius: 15px;
    height: fit-content;
}

#Login #Login-title{
    background-color: #4f6f8c;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Login-title h3{
    font-weight: normal;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
}

#Login form{
    padding: 15px;
}

#Name{
    width: 100%;
}

.Login-label{
    color: white;
    margin: 0;
    font-size:25px;
}

#Name input{
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 5px;

    border:none;
    border-radius: 7px;
}

#Name input:focus{
    outline: none;
}

#E-mail{
    margin-top: 20px;
}

.Email-text{
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 5px;

    border:none;
    border-radius: 7px;
}

.Email-text:focus{
    outline: none;
}


#Complaint-global-counter{
    margin: 20px 0px;
}

#Control-btn{
    text-align: center;
}

#Logout-btn{
    width: 50%;
    height: 40px;
    border-radius: 7px;
    border:none;
    background-color: #FFD363;
    font-size: 15px;
}

#Logout-btn:hover{
    cursor: pointer;
    background-color: #d1ad52;
}

#Protocol{
    margin: 40px 0px;
    background-color: #7A9AB8;
    width: 100%;
    border-radius: 15px;
}

#Protocol #Protocol-title{
    background-color: #4f6f8c;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Protocol-title h3{
    font-size: 30px;
    font-weight: normal;
    color: white;
    display: flex;
    justify-content: center;
}

#Protocol form{
    padding: 15px;
}

#Protocol-label{
    font-size:25px;
    
    color: white;
    margin-bottom: 0px;
}

#Protocol-text-inpt{
    box-sizing: border-box;
    width: 73%;
    height: 40px;
    padding: 5px;
    font-size: 15px;

    border:none;
    border-radius: 7px;
}

#Protocol-text-inpt:focus{
    outline: none;
}

#Protocol-btn{
    height: 40px;
    border-radius: 7px;
    border:none;
    background-color: #FFD363;
    font-size: 17px;
}

#Protocol-btn:hover{
    cursor: pointer;
    background-color: #d1ad52;
}

#Protocol-desc{
    color: white;
    font-size: 18px;
}

#info-displayer{
    display: none;
    background-color: transparent;
    border: none;
}

#load-handler{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 112, 112,0.9);
    position: absolute;
    padding: 10%;
    bottom: 1%;
    left: 30%;
    border-radius: 50px;
    display: none;
}

#load-handler p{
    color: #fff;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width:1200px){
    
    #Grid-form{
        grid-template-columns: repeat(2,45%);
    }

    .Complaint-label{
        font-size: 17px;
    }

    #Type-selector{
        font-size: 15px;
    }

    .input-bar{
        font-size: 15px;
    }

    #image-send{
        font-size: 12px;
    }
}

@media screen and (max-width:870px) {
    #Title-text h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    #Title-text p{
        font-size: 15px;
        width: 150px;
    }

    #img-container{
        width: 20%;
    }

    #logo-img {
        width: 100%;
    }

    #Nav-Top-Bar{
        width: 100%;
        height: 45px;
    }

    #nav-bar ul{
        padding: 0px;
    }

    #nav-bar ul li{
        margin-left: 2%;
    }

    #info-displayer{
        display: block;
        font-size: 13px;
    }

    #nav-bar ul li a{
        font-size: 13px;
    }

    #Center-page{
        background-color: #7A9AB8;
        margin:0 auto;
        width: 80%;
        height: fit-content;
        border-radius: 15px;
        margin-bottom: 10%;
    }

    #Complaint-title h2{
        font-size: 20px;
    }

    #Right-side-align{
        display: none;
    }

    #Grid-form{
        grid-template-columns: repeat(1,100%);
    }

    .Complaint-label{
        font-size: 17px;
    }

    #Type-selector{
        font-size: 15px;
    }

    .input-bar{
        font-size: 15px;
    }

    #Foto{
        font-size: 15px;
    }

    #Complaint-form-4{
        width: 60%;
    }

    #Complaint-description{
        font-size: 15px;
    }

    #Complaint-submit-btn{
        width: 40%;
        font-size: 17px;
    }

    #Complaint-return{
        width: 40%;
        font-size: 17px;
    }
    
}

@media screen and (max-width:420px) {

    #Center-page{
        width: 90%;
    }
    #Grid-form{
        grid-template-columns: repeat(1,80%);
    }
}