*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E3FDFF;
    margin: 0;
}

header{
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

#Title-text{
    margin-top:2%;
}

#Title-text h1{
    font-size: 45px;
    margin-bottom: 10px;
}

#Title-text p{
    color: #616161;
}

#img-container{
    width: 20%;
}

#logo-img {
    width: 60%;
}

#Nav-Top-Bar{
    background-color: #4f6f8c;
    padding: 10px;
    margin-bottom: 20px;
}

#nav-bar ul li{
    color: white;
    display: inline-flex;
    margin-left: 10% ;
}

#nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#nav-bar ul li a:hover{
    color: rgb(214, 214, 214);
}

#login-nav-btn{
    visibility: hidden;
}

#Display-aligner{
    display: flex;
    justify-content: space-between;
}

#Center-page{
    background-color: #7A9AB8;
    margin-left:5%;
    width: 60%;
    height: fit-content;
    border-radius: 15px;
    margin-bottom: 10%;
}


#Center-title{
    background-color: #4f6f8c;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Center-title h2{
    color: white;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 40px;
}

#Theme-display{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.Theme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgDiv{
    width: 50%;
}

.imgDiv img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.nameDiv{
    width: fit-content;
    
}

.nameDiv h3{
    color: white;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

#Right-side-align{
    margin-right: 5%;
    width: 15%;
}

#Login{
    width: 100%;
    background-color: #7A9AB8;
    border-radius: 15px;
}

#Login #Login-title{
    background-color: #4f6f8c;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Login-title h3{
    font-weight: normal;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
}

#Login form{
    padding: 15px;
}

#E-mail{
    width: 100%;
}

.Login-label{
    color: white;
    margin: 0;
    font-size:30px;
}

#E-mail input{
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 5px;

    border:none;
    border-radius: 7px;
}

#Password{
    margin-top: 20px;
}

.Password-text{
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;

    border:none;
    border-radius: 7px;
}

#login-btn-div{
    text-align: center;
}

#Login-btn{
    width: 60%;
    height: 40px;
    border-radius: 7px;
    border:none;
    background-color: #FFD363;
    font-size: 15px;
}

#Login-btn:hover{
    cursor: pointer;
    background-color: #d1ad52;
}

#Register-p{
    font-size: 20px;
}

#Register-p a{
    color: #b1fffa;
    
}

#Register-p a:hover{
    color: #94d4d1;
}

#Protocol{
    margin: 40px 0px;
    background-color: #7A9AB8;
    width: 100%;
    border-radius: 15px;
}

#Protocol #Protocol-title{
    background-color: #4f6f8c;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Protocol-title h3{
    font-size: 30px;
    font-weight: normal;
    color: white;
    display: flex;
    justify-content: center;
}

#Protocol form{
    padding: 15px;
}

#Protocol-label{
    font-size:30px;
    
    color: white;
    margin-bottom: 0px;
}

#Protocol-text-inpt{
    box-sizing: border-box;
    width: 73%;
    height: 40px;
    padding: 5px;
    font-size: 15px;

    border:none;
    border-radius: 7px;
}

#Protocol-btn{
    height: 40px;
    border-radius: 7px;
    border:none;
    background-color: #FFD363;
    font-size: 17px;
}

#Protocol-btn:hover{
    cursor: pointer;
    background-color: #d1ad52;
}

#Protocol-desc{
    color: white;
    font-size: 18px;
}

@media screen and (max-width:720px) {
    #Title-text h1{
        font-size: 20px;
        margin-bottom: 5px;
    }

    #Title-text p{
        font-size: 15px;
        width: 150px;
    }

    #img-container{
        width: 30%;
    }

    #logo-img {
        width: 100%;
    }

    #Nav-Top-Bar{
        width: 100%;
        height: 45px;
    }

    #nav-bar ul{
        padding: 0px;
    }

    #nav-bar ul li{
        margin-left: 2%;
    }

    #nav-bar ul li a{
        font-size: 13px;
    }
    
    #login-nav-btn{
        visibility: visible;
        font-size: 13px;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    #login-redirect-btn{
        background-color: #FFD363;
        border: none;
        color: #000;
    }

    #Center-title h2{
        font-size: 15px;
    }

    #Display-aligner{
        display: block;
        width: 100%;
    }

    #Center-page{
        width: 80%;
        margin: 0 auto;
    }

    #Theme-display{
        display: block;
        width: 100%;
        margin:0 auto;
    }

    .Theme{
        margin-bottom: 10px;
    }

    .imgDiv{
        margin:0 auto;
        width: 35%;
        border-radius: 0px;
    }

    .nameDiv{
        margin: 0 auto;
    }

    .nameDiv h3{
        margin:0px;
        font-size: 13px;
    }

    #Right-side-align{
        display: none;
        position: fixed;
        overflow: auto;
    }

    #Login-title h3{
        font-size: 20px;
    }

    .Login-label{
        font-size: 15px;
    }

    #E-mail input{
        height: 25px;
    }

    #E-mail input:focus{
        outline: none;
    }

    .Password-text{
        width: 100%;
        height: 25px;
    }

    .Password-text:focus{
        outline: none;
    }

    #login-btn-div{
        margin-top: 10px;
        text-align: center;
    }

    #Login-btn{
        width: 80%;
        height: 20px; 
    }

    #Register-p a{
        font-size: 15px;
        color: #b1fffa;
    }

}